.item{
    background-color: beige;
    border: 2px solid;
    font-size: 20px;

}
.container{
    background-color: darkgray;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);/* definição das colunas - frame */
    gap: 10px 30px;/* shorthand (x y)*/
    grid-auto-rows: 210px;
    grid-template-areas: 
    "item1 item1 item1"
    "item2 item2 item3"
    
    ;
}
.item1{
    grid-column: 1/4;
    grid-area: item1;
}
.item2{
    grid-column: 2/4;
    grid-area: item2;
}
.item3{grid: 3/4;
    grid-area: item3;}